.App {
  text-align: center;
  background-color: #ffd24d;
  height: 9vmin;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipesVote {
  font-size: xx-large;
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 2vw;
  display: flex;
}

.voteCount {
  font-size: xx-large;
  align-items: left;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
}

.recipePic {
  display: block;
}

.recipesNameVote {
  font-size: xx-large;
  align-items: right;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.homeDescription {
  display: flex;
  width: 60vw;
  border: 0.25vw solid #726e75;
  padding: 1vw;
  margin: 2vw;
  background-color: #ffd24d;
}

.homeCard {
  border: 0.25vw solid black;
  background: #ffd24d;

}

.col-sm-6 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pantryTable{
  border: 0.3vw solid #726e75;
  width: 80vw;
  height: 50vh;
  /* border-bottom: 1vw solid black; */
  text-align: center;
  margin-left: 10vw;
  background-color: #ffffff;
}

#pantryTable td, #pantryTable th{
  border: 0.15vw solid #ddd;
  padding: 1vw;
}

.pantryInput{
  margin-top: 1vw;
}

.pantryQuantity{
  /* position: absolute; */
  /* margin-right: 4vw;
  margin-bottom: 3vh;  */
  margin-left:1vw; 
  width: 5vw;
  /* display: inline-block; */
  align-content: center;
}

.pantryItem{
  
  margin-right: 3vw; 
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left:1vw; 
  width: 15vw;

}

.pantryButton{
  margin-left : 3vw;
  background-color: #78e0dc;
  /* color: #61dafb; */
}

.nav{
  background-color: #ffd24d;
}

.btn{
  background: #78e0dc !important;

}

.yellowRow{
  background-color: #ffd24d;
}

.blueRow{
  background-color: #78e0dc;
}

.groceryStyle{
  margin-left: 4vw;
  border: 0.25vw solid black;
  margin-top: 5vh;
  width: 45vw;
}

.recipeCard{
  border: 0.25vw solid  #726e75;
  background-color: #ffd24d;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 5vw;
  width: 40vw;
}